@import "core/reset";

.landing {
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-position: 61%;
  height: 100vh;

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 0;

    &__about {
      display: block;
      padding-right: 2px;
      width: 40px;
      height: 6px;
    }

    &__projects {
      display: none;
    }

    &__contact {
      display: block;
      padding-left: 2px;
      width: 40px;
      height: 6px;
    }
  }

  &__title {
    display: block;
    text-align: center;
    position: relative;
    top: 150px;
  }

  &__name {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 70px;
  }

  &__job {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 36px;
  }

  &__logo__box {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
  }

  &__logo {
    height: 100%;
  }
}

.about {
  display: flex;
  align-items: center;

  &__text {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 26px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 26px;
  }
}

.contact {
  display: flex;
  align-items: center;

  &__text {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 26px;
  }
}

@import "layouts/landing-mediaq";
