<section class="about">

  <div class="about__picture__box" id="about-me">
    <img  src="./assets/images/kimono.jpg" class="about__picture__img" />
  </div>

  <div class="about__section">
    <div class="about__me">
      <h2 class="about__me__title">Who I am</h2>
      <div class="about__me__description">
        <p class="about__me__par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
        <p class="about__me__par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
        <p class="about__me__par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
        </div>
      </div>

    <div class="about__skills">
      <h2 class="about__skills__title">What I do</h2>

      <div class="about__skills__description">
      <h3 class="about__skills__subtitle">design</h3>
      <p class="about__skills__text">Photoshop || Illustrator</p>
      <h3 class="about__skills__subtitle">front-end</h3>
      <p class="about__skills__text">
        HTML5 || CSS3 || Javascript || React || Bootstrap
      </p>
      <h3 class="about__skills__subtitle">modelling</h3>
      <p class="about__skills__text">Auctocad || Revit Building || Sketchup</p>
    </div>
  </div>

  </div>
</section>
