<section class="about">
  
    <img id="about-me" src="./assets/images/kimono.jpg" class="about__picture__img" />


  <div class="about__section">
    <div class="about__me">
      <h2 class="about__me__title">Who I am</h2>
      <div class="about__me__description">
        <p class="about__me__par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor
          sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
        <p class="about__me__par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor
          sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
        <p class="about__me__par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor
          sint fuga rem, laudantium voluptatum consequatur soluta error libero.
        </p>
      </div>
    </div>

    <div class="about__skills">
      <h2 class="about__skills__title">What I do</h2>

      <div class="about__skills__description">
        
        <div class="about__skills__programmer">
          <h3 class="about__skills__subtitle">i'm a programmer</h3>
          <p class="about__skills__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            cumque sed enim cupiditate voluptatibus quis deleniti modi a
            temporibus dolor sint fuga rem, laudantium voluptatum consequatur
            soluta error libero.
          </p>
        </div>

        <div class="about__skills__designer">
       
            <h3 class="about__skills__subtitle">also a designer</h3>
            <p class="about__skills__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              cumque sed enim cupiditate voluptatibus quis deleniti modi a
              temporibus dolor sint fuga rem, laudantium voluptatum consequatur
              soluta error libero.
            </p>
      
        </div>
      </div>
    </div>
  </div>
</section>
