<section class="about" id="about-me">
  
    <img src="./assets/images/kimono.jpg" class="about__picture__img" />


  <div class="about__section">
    <div class="about__me">
      <h2 class="about__me__title">quién soy</h2>
      <div class="about__me__description">
        <p class="about__me__par">
          Aventurera, inquieta y curiosa. Los nuevos retos no me dan miedo, siempre me enfrento a ellos con ganas de superarme a mí misma y de aprender, ya sea vivir en el extranjero, hacer una ruta de 12h en montaña o saltar en paracaídas.
        </p>
        <p class="about__me__par">
          Amante de los animales, dibujante de manga y diseñadora de interiores. Mi segundo idioma es el inglés y tengo un máster en sarcasmo. Me encanta que mis compañeros vean en mí fortaleza y apoyo incondicional. Divertida e ingeniosa, pero también meticulosa, trabajadora y profesional.
        </p>
        <p class="about__me__par">
            Tras varios años trabajando en el sector de la atención al cliente y la administración comencé a sentir que necesitaba un cambio <em>-la monotonía nunca ha sido de mi mayor pasión</em>. Por eso comencé a indagar y tras realizar el <em>bootcamp</em> de Adalab mi vida dio el giro de 180 grados que necesitaba. Me convertí en desarrolladora front-end y por fin encontré mi lugar en un mundo lleno de retos apasionantes que superar a diario.
        </p>
      </div>
    </div>

    <div class="about__skills">
      <h2 class="about__skills__title">lo que puedo hacer</h2>

      <div class="about__skills__description">
        
        <div class="about__skills__programmer">
          <h3 class="about__skills__subtitle">soy programadora</h3>
          <p class="about__skills__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            cumque sed enim cupiditate voluptatibus quis deleniti modi a
            temporibus dolor sint fuga rem, laudantium voluptatum consequatur
            soluta error libero.
          </p>
        </div>

        <div class="about__skills__designer">
       
            <h3 class="about__skills__subtitle">y también diseñadora</h3>
            <p class="about__skills__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              cumque sed enim cupiditate voluptatibus quis deleniti modi a
              temporibus dolor sint fuga rem, laudantium voluptatum consequatur
              soluta error libero.
            </p>
      
        </div>
      </div>
    </div>
  </div>
</section>
