<section class="contact__form">
  <div>
    <h2 id="contact" class="contact__title">
      contacto
    </h2>
  </div>
  <form class="form" action="/signup" method="post">
    <div class="form__info__wrapper">
      <div class="form__info">
        <div class="form__group">
          <input
            id="name"
            class="write__area form__info__text js-input"
            type="text"
            name="yourname"
            required
          />
          <label class="label__txt" for="name">Nombre *</label>
        </div>
        <div class="form__group">
          <input
            id="lastname"
            class="write__area form__info__text js-input"
            type="text"
            name="yourlastname"
            required
          />
          <label class="label__txt" for="lastname">Apellidos *</label>
        </div>
        <div class="form__group">
          <input
            id="email"
            class="write__area form__info__text js-input"
            type="email"
            name="youremail"
            required
          />
          <label class="label__txt" for="email">Email *</label>
        </div>
        <!-- <div class="form__group">
          <input
            id="phone"
            class="write__area form__info__text js-input"
            name="yourphone"
            type="tel"
          />
          <label class="label__txt" for="phone">Your Phone</label>
        </div> -->
      </div>
      <div class="form__group">
        <textarea
          id="message"
          class="write__area form__info__message js-input"
          name="yourmessage"
          required
        ></textarea>
        <label class="label__txt" for="message">Mensaje *</label>
      </div>
    </div>
    <div>
      <button id="modal-trigger" type="submit" class="submit__button" value="Enviar">
        Enviar
      </button>
    </div>
  </form>


   <div id="myModal" class="modal is-hidden">
    <div class="modal__background">
    <div class="modal__container">
       <div class="close__button js-close-button">&times;</div>
     <div class="modal__content">
        <p class="modal__text">Tu mensaje ha sido enviado con éxito.</p>
        <p class="modal__text">
          Me pondré en contacto contigo lo antes posible.
        </p>
        <br />
        <p class="modal__text"><em>Arigatou!</em></p>
     
    </div>
    </div> 
    </div>
</section>
