<section>
    
    <div>
        <h2 id="contact">
            contact
        </h2>
    </div>
    <form>
        <div>
        <label for="name">Name <span class="required">*</span>
        </label>
        <input id="name" type="text">
    </div>
    <div>
        <label for="lastname">Lastname</label>
        <input id="lastname" type="text">
    </div>

    <div>
            <label for="lastname">Lastname</label>
            <input id="lastname" type="text">
        </div>

    <div>
    <label for="mail">Email <span class="required">*</span>
    </label>
    <input id="mail" type="email">
</div>
    </form>

</section>