<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="./assets/images/favicon.jpg" />
    <title>Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css?family=Six+Caps&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/landing.css" />
  </head>
  <body>
    <section class="landing">
      <div class="landing__icon">
        <div class="about text__effect">
          <img class="landing__icon__about" src="./assets/images/left.png" />
          <a href="main.html#about-me" class="about__text" alt="sobre mi">sobre mi</a>
        </div>

        <div class="projects text__effect">
          <img class="landing__icon__projects" src="./assets/images/top.png" />
          <a href="main.html#projects" class="projects__text" alt="projectos">projectos</a>
        </div>

        <div class="contact text__effect">
           <a href="main.html#contact" class="contact__text"alt="contacto">contacto</a>
          <img class="landing__icon__contact" src="./assets/images/right.png" />
        </div>
      </div>

      <div class="landing__title">
        <h1 class="landing__name">Luz Aguirre Morales</h1>
        <h2 class="landing__job">desarrolladora front-end</h2>
      </div>

      <div class="landing__logo__box">
        <img class="landing__logo" src="./assets/images/hikari.png" />
      </div>
    </section>
  </body>
</html>
