<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Gayathri|Six+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/landing.css" />
  </head>
  <body>
    
    <section class="landing">
      <div class="landing__icon">

        <div class="about">
          <img
            class="landing__icon__about"
            src="./assets/images/left.png"
          />
          <a href="main.html" class="about__text">About</a>
        </div>

        <div class="projects">
            <img
              class="landing__icon__projects"
              src="./assets/images/top.png"
            />
            <a href="#"  class="projects__text">Projects</a>
          </div>

        <div class="contact">
          <a a href="#"  class="contact__text">Contact</a>
          <img class="landing__icon__contact" src="./assets/images/right.png" />
        </div>
      </div>

      <div class="landing__title">
        <h1 class="landing__name">Luz Aguirre</h1>
        <h2 class="landing__job">Front-End developer</h2>
      </div>

    </section>
  </body>
</html>
