@media all and (min-width: 768px) {
  .about {
    min-height: 100vh;

    &__picture__img {
      height: 400px;
      width: 400px;
    }

    &__section {
      padding: 0;
      width: 80vw;
    }

    &__me {
      width: 80vw;
      margin-bottom: 40px;

      &__title {
        font-size: 40px;
      }

      &__description {
        font-size: 20px;
      }
    }

    &__skills {
      width: 75vw;

      &__title {
        font-size: 40px;
      }

      &__subtitle {
        font-size: 30px;
      }

      &__text {
        font-size: 20px;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .about {
    &__picture__box {
      width: 100vw;
      margin-right: 100px;
    }

    &__section {
      width: 60vw;
    }

    &__me {
      &__title {
        margin: 0 0 15px 0;
        font-size: 45px;
      }
    }

    &__skills {
      display: flex;
      flex-direction: column;

      &__description {
        display: flex;
        justify-content: space-between;
      }

      &__programmer {
        margin-right: 20px;
      }

      &__designer {
        margin-left: 20px;
      }

      &__title {
        font-size: 45px;
      }

      &__subtitle {
        font-size: 34px;
      }
    }
  }
}
