.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 75vh;
  padding-top: 90px;
  padding-bottom: 20px;
}

.contact__title {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;

    &__text {
      box-sizing: border-box;
      height: 50px;
      width: 80vw;
      padding: 0 5px;
      border: 0px solid;
      border-bottom: 1px solid $color-primary;
      background: transparent;
      font-family: "Spectral", serif;
      font-size: 16px;
    }

    &__message {
      box-sizing: border-box;
      height: 120px;
      width: 80vw;
      margin-top: 10px;
      padding: 0 5px;
      border: 0px solid;
      border-bottom: 1px solid $color-primary;
      background: transparent;
      font-family: "Spectral", serif;
      font-size: 16px;
    }
  }
}

.submit__button {
  margin: 5px;
  height: 42px;
  width: 150px;
  border: 1px solid $color-secondary;
  background: $color-secondary;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.form__group {
  position: relative;
  margin: 20px auto;
}

.label__txt {
  color: $color-dark-grey;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
}

.write__area:focus {
  outline: none;
  border-bottom: 1px solid $color-secondary;
  transition: 0.3s ease all;
}

.write__area:focus + .label__txt,
.write__area:valid + label {
  top: -10px;
  font-size: 14px;
  color: $color-secondary;
  transition: 0.6s ease all;
}

.validInput {
  top: -15px;
  font-size: 14px;
  color: $color-secondary;
  transition: 0.6s ease all;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */

  &__background {
    height: 450px;
    width: 300px;
    background: url("../images/gatomvl.jpg");
    background-repeat: no-repeat;
  }

  &__container {
    padding: 40px 30px;
  }

  &__text {
    font-family: "Spectral", serif;
    font-size: 20px;
  }
}

.close__button {
  position: relative;
  right: 10px;
  float: right;
  width: 25px;
  line-height: 25px;
  font-family: "Spectral", serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: $color-secondary;
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

@import "contact-mediaq";
