.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.contact__title {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;

    &__text {
      box-sizing: border-box;
      height: 50px;
      width: 80vw;
      padding: 0 5px;
      border: 0px solid;
      border-bottom: 1px solid $color-primary;
      background: transparent;
      font-family: "Spectral", serif;
      font-size: 16px;
    }

    &__message {
      box-sizing: border-box;
      height: 190px;
      width: 80vw;
      padding: 0 5px;
      border: 0px solid;
      border-bottom: 1px solid $color-primary;
      background: transparent;
      font-family: "Spectral", serif;
      font-size: 16px;
    }
  }

  .submit__button {
    margin: 5px;
    height: 42px;
    width: 150px;
    border: 1px solid $color-secondary;
    background: $color-secondary;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
  }

  .form__group {
    position: relative;
    margin: 20px auto;
  }

  label {
    color: $color-dark-grey;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
  }

  input:focus {
    outline: none;
    border-bottom: 1px solid $color-secondary;
    transition: 0.3s ease all;
  }

  input:focus + label,
  input:valid + label {
    top: -15px;
    font-size: 14px;
    color: $color-secondary;
    transition: 0.6s ease all;
  }
}

@media all and (min-width: 768px) {
  .contact__form {
    padding: 60px 30px;
  }
  .contact__title {
    font-size: 40px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      &__text {
        width: 60vw;
        font-size: 20px;
      }

      &__message {
        width: 60vw;
        font-size: 20px;
      }
    }
  }

  label {
    font-size: 20px;
  }

  input:focus + label,
  input:valid + label {
    font-size: 16px;
  }
}

@media all and (min-width: 1024px) {
  .contact__title {
    font-size: 45px;
  }
}
