@media all and (min-width: 768px) {
  .landing {
    &__icon {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      padding: 0;

      &__about {
        width: 70px;
      }

      &__projects {
        display: block;
        position: relative;
        top: 0;
        width: 6px;
        height: 35px;
      }

      &__contact {
        width: 70px;
      }
    }

    &__title {
      display: block;
      top: 60px;
    }

    &__name {
      font-size: 120px;
    }

    &__job {
      font-size: 50px;
    }

    &__logo__box {
      position: absolute;
      bottom: 35px;
      left: 70px;
      width: 80px;
      height: 80px;
    }

    &__logo {
      height: 100%;
    }
  }

  .about {
    padding-top: 32px;

    &__text {
      padding: 0 8px;
      font-size: 32px;
    }

    &__text:hover {
      color: rgb(200, 0, 40);
    }
  }

  .projects {
    &__text {
      margin: 2px 0;
      font-size: 32px;
    }

    &__text:hover {
      color: rgb(200, 0, 40);
    }
  }

  .contact {
    padding-top: 32px;

    &__text {
      padding: 0 8px;
      font-size: 32px;
    }

    &__text:hover {
      color: rgb(200, 0, 40);
    }
  }
}
