.projects__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.projects__title {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 36px;
}

.project__box {
  background-color: $color-primary;
  margin: 10px;
  height: 180px;
  width: 300px;
}

@media all and (min-width: 768px) {
  .projects__wrapper {
    padding: 60px 30px;
  }

  .projects__title {
    font-size: 40px;
  }
}

@media all and (min-width: 1024px) {
  .projects__title {
    font-size: 45px;
  }
}
