@media all and (min-width: 768px) {
  .about {
    padding-top: 90px;
    &__picture__img {
      height: 400px;
      width: 400px;
    }

    &__section {
      padding: 0;
    }

    &__me {
      width: 75vw;
      margin-bottom: 40px;

      &__title {
        font-size: 2.5rem;
      }

      &__description {
        font-size: 1.12rem;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .about {
    padding-top: 20px;
    &__section {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      padding: 0;
      width: 70vw;
    }

    &__me {
      margin-left: 60px;

      &__title {
        margin: 0 0 15px 0;
        font-size: 2.87rem;
        text-align: left;
      }
    }
  }
}
