@import "core/variables";

.contact {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 80px 0;
    background-image: url("../images/landscape.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__container {
    text-align: center;
    width: 70vw;
  }
  &__title {
    margin: 30px 0 15px 0;
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 36px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 25px;
    font-family: "Gafata", sans-serif;
  }

  &__icons {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }

  &__text {
    margin-top: 2px;
    line-height: 25px;
    font-style: italic;
    font-family: "Gafata", sans-serif;
  }
}

.icon {
  font-size: 36px;
}

.contact__link:hover {
  color: $color-secondary;
  transition: 0.2s ease-in;
}

@import "contact-mediaq";
