@media all and (min-width: 768px) {
  .contact {
    &__form {
      height: 91vh;
      padding: 0;
    }
    &__container {
      text-align: center;
      width: 60vw;
    }
    &__title {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 1.12rem;
    }

    &__icons {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px;
    }

    &__text {
      font-size: 1.12rem;
    }
  }

  .icon {
    font-size: 2.87rem;
  }
}

@media all and (min-width: 1200px) {
  .contact__title {
    font-size: 2.87rem;
  }
  .icon {
    font-size: 3.62rem;
  }
}
